# Don't copy these into the Docker context
**/node_modules
**/.git
**/.gitignore
**/.DS_Store
**/npm-debug.log
**/.vscode
**/.idea


# When using multi-stage build (Dockerfile), comment out the above exclusions
